/* ----------------------------- Global Definitions -------------------- */

body {
    margin: 0px;
    padding: 0px;
	font-family: "georgia", "times", "times new roman", serif;
    color: #222;
    background-color: #fff;
    font-size: 12px;
    quotes: "\201C" "\201E" "\2018" "\2019";
}

img {
    border: 0;
}

a:link {
	color: #222;
}

a:visited {
	color: #555;
}

a:hover {
	color: #000;
}

a:active {
}

a:focus {
}

#banner {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    padding: 5px 0px 20px 0px;
    margin: 5px 0px 0px 0px;
    color: #000;
    font-weight: normal;
}

#bannerRight {
               margin-left: 270px;
}

#bannerLeft img {
                  float: left;
}

#bannerRight img {
                   float: right;
}

h2 {
    font-family: "verdana", "helvetica", "arial", sans-serif;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 11px;
    color: #666;
    font-weight: normal;
    padding: 0px 0px 0px 0px;
    margin: -20px 0px 30px 0px; 
}
h3 {
	padding: 0px 0px 6px 0px;
	margin: 30px 0px 30px 0px;
}

h3 .separator {
	margin: 0px 10px 0px 10px;
	color: #bbb;
}

h4 {
  padding: 4px 4px 4px 6px;
  border: 1px solid #bbb;
  color: #900;
  background-color: #fff;
  font-weight: normal;
  font-size: large;
}
h5 {
  padding: 4px 4px 4px 6px;
  color: #900;
  font-size: normal;
}

p { 
	padding: 1px; 
	margin: 5px 0px 5px 0px; 
}

div.separator {
	text-align: center;
	margin: 15px 0px 15px 0px;
}

div.section hr, div.clear hr {
              visibility: hidden;
              margin-bottom: 2ex;
}
       
blockquote { 
	padding: 1px; 
	margin: 10px 40px 10px 40px; 
}


input, select {
	font-family: "georgia", "times", "times new roman", serif;
	font-size: 13px;
    color: #333;
}

input[type="text"] {
	border: 1px dashed #ccc;
	padding: 3px;
}

input[type="password"] {
	border: 1px dashed #ccc;     	
	padding: 3px;
}

input[type="button"] {
    margin: 5px 5px 5px 5px;
	border-width: 1px;
}

input[type="submit"] {
    margin: 5px;
}

/* ----------------------------- leftColumn  -------------------------- */

#leftColumn {
    position: fixed;
    width: 250px;
    height: auto;
    top: 120px;
    right: auto;
    bottom: auto;
    left: 0;
    text-align: left;
}

#leftColumn img, #navcolumn img {
    margin: 20px;
}

#leftColumn h1, #navcolumn h5 {
    font-family: "verdana", "helvetica", "arial", sans-serif;
    color: #777;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    margin: 3ex 1px 1ex 0;
}

#leftColumn ul {
    margin-bottom: 1ex;
}

#leftColumn li {
    margin-left: 0px;
    list-style-type: none;
    font-family: "verdana", "helvetica", "arial", sans-serif;
    font-size: 10px;
    margin-bottom: 1ex;
    margin-top: 1ex;
}

#navcolumn a {
               text-decoration: none;
}

#navcolumn li a:hover {
                     border-bottom: 1px dotted #777;
}

a:hover img.poweredBy, a img.poweredBy, a:focus img.poweredBy {
border-bottom: none;
}


#navcolumn a:active {
                      background-color: #ccc !important;
}

#navcolumn a:focus {
                     border-bottom:  1px solid #fff !important;
}
/* ----------------------------- Footer ---------------------------- */

#footer {
	margin: 30px 20px 20px 270px;
	text-align: center;
}

/* ----------------------------- breadcrumbs ---------------------------- */

#breadcrumbs {
	margin: 10px 20px 10px 270px;
	padding: 0px;
	text-align: left;
}

/* ----------------------------- bodyColumn ---------------------------- */

#bodyColumn {
	margin: 20px 20px 10px 270px;
}

.news {
	padding: 3px 0px 3px 0px;
	margin: 10px 0px 10px 0px;
}

.news a {
	text-decoration: none;
	color: #000;
	border-bottom: 1px dotted #777;
	margin: 0px 2px 0px 2px;
	padding: 1px 1px 1px 1px;
}

.news a:hover {
	border: 1px dotted #000;
	background-color: #eee;
	padding: 1px 2px 1px 2px;
	margin: 0px;
}

.news a:active {
	background-color: #ccc !important;
	position: relative;
	top: 1px;
	left: 1px;
	padding: 1px 2px 1px 2px;
	margin: 0px;
}

.news a:focus {
	border: 1px solid #fff !important;
	background-color: #ccc !important;
	padding: 1px 2px 1px 2px;
	margin: 0px;
}

.news h1 {
    font-size: 13px;
    letter-spacing: 0em;
    text-transform: none;
    color: #333;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.news h1 img {
	padding-right: 5px;
}

.news h2 {
    font-family: "verdana", "helvetica", "arial", sans-serif;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    font-size: 10px;
    color: #666;
    font-weight:normal;
    padding-top: 2px;
    margin: 0px;
    border: 0px;
}

.news .info {
    font-family: "verdana", "helvetica", "arial", sans-serif;
    font-size: 10px;
}

.news .separator {
	text-align: center;
	margin: 10px 0px 10px 0px;
}

/* ----------------------------- contentBox ---------------------------- */

#contentBox {
	margin: 10px 0px 10px 0px;
}

#contentBox h1, #contentBox h2, #contentBox h3, #contentBox h4 {
	font-family: "georgia", "times", "times new roman", serif;
    text-transform: none;
    margin: 0px 0px 0px 0px;
    color: #333;
    font-weight: bold;
}

#contentBox h1 {
    font-size: 14px;
    letter-spacing: 0.15em;
    padding: 8px 0px 2px 0px;
}

#contentBox h2 {
    font-size: 13px;
    letter-spacing: 0.10em;
    padding: 8px 0px 2px 0px;
}

#contentBox h3 {
    font-size: 12px;
    letter-spacing: 0.05em;
    padding: 8px 0px 0px 0px;
}

#contentBox h4 {
    font-size: 11px;
    letter-spacing: 0em;
    padding: 8px 0px 0px 0px;
}

#contentBox p {
    font-size: 12px;
    line-height: 16px;
}

#contentBox p.figure {
	text-align: center;
	margin: 10px 10px 10px 10px;
	font-style: italic;
}

#contentBox .first { 
	text-transform: uppercase 
}
 
#contentBox .firstletter {
	font-size: 38px;
	line-height: 30px;
    font-weight: normal; 
    color: #111;    
	text-transform: uppercase;
	float: left;
	margin: 0px 5px 0px 0px;
}

#contentBox img.floating-left {
	float: left;
	margin: 2px 5px 2px 0px;
}

#contentBox img.floating-right {
	float: right;
	margin: 2px 5px 2px 5px;
}

#contentBox blockquote {
	margin: 10px 20px 10px 20px;
	padding: 5px;
}
	
#contentBox blockquote.quote {
	text-align: justify;
	font-style: italic;
	border: 1px solid #ddd;
	background-color: #eee;
}

#contentBox blockquote.code, #contentBox .source {
	font-family: monospace;
	border: 1px solid #ddd;
}

#contentBox blockquote.note:before {
	content: "Note: ";
	font-weight: bold;
}

#contentBox blockquote.note {
	border: 1px solid #ccc;
}

#contentBox blockquote.fixme:before {
	content: "Fixme: ";
	font-weight: bold;
}

#contentBox blockquote.fixme {
	border: 1px dashed #ccc;
	color: #888;
}

#contentBox ul, #contentBox ol {
	margin: 10px 35px 10px 35px;
	padding: 0px;
	counter-reset: item;
}

#contentBox ul > ul, #contentBox ul > ol, #contentBox ol > ul, #contentBox ol > ol {
	margin: 0px 0px 0px 35px;
	padding: 0px;
}

#contentBox li {
	margin: 0px;
	padding: 0px; 
}

#contentBox strong {
	font-weight: bolder;
}

#contentBox em {
	font-style: italic;
}

#contentBox q:before {
	content: open-quote;
}

#contentBox q:after {
	content: close-quote;
}

#contentBox a {
	text-decoration: none;
	color: #777;
}

#contentBox a:hover {
 border-bottom: 1px dotted #777;
}

#contentBox a:active {
	background-color: #ccc !important;
}

#contentBox a:focus {
	border-bottom:  1px solid #fff !important;
	background-color: #ccc !important;
}
code{
  font-family: Courier, monospace;
  font-size: 13px;
}

#legend li.externalLink {
  background: url(../images/external.png) left top no-repeat;
  padding-left: 18px;
}

#legend li.newWindow {
  background: url(../images/newwindow.png) left top no-repeat;
  padding-left: 18px;
}

table.bodyTable {
                  border: hidden;
                  border-collapse:collapse;
}

table.bodyTable th {
                     border: 1px solid #ddd;
                     border-collapse:collapse;
  text-align: left;
  font-weight: bold;
                     background-color: #fff;
}

table.bodyTable th, table.bodyTable td {
                                        border: 1px solid #ddd;
                                         border-collapse:collapse;
                                         font-size: 1em;
}

table.bodyTable tr.a {
                      border: 1px solid #ddd;
                     border-collapse:collapse;
  background-color: #fff;
}

table.bodyTable tr.b {
                     border: 1px solid #ddd;
                     border-collapse:collapse;
  background-color: #eee;
}

#organizationLogo img, #projectLogo img, #projectLogo span{
  margin: 8px;
}

.errormark, .warningmark, .donemark, .infomark {
  background: url(../images/icon_error_sml.gif) no-repeat;
}

.warningmark {
  background-image: url(../images/icon_warning_sml.gif);
}

.donemark {
  background-image: url(../images/icon_success_sml.gif);
}

.infomark {
  background-image: url(../images/icon_info_sml.gif);
}

